img{
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(247, 250, 76) ;
    border-left: 2px solid rgb(247, 250, 76) ;
    border-right: 2px solid rgb(247, 250, 76) ;
    border-top: 2px solid rgb(247, 250, 76) ;
    height:360px;
    width: 470px;
    transition: all 1s;

}
body{

background:url(https://previews.123rf.com/images/alexutemov/alexutemov1512/alexutemov151200358/49461803-modern-flat-design-badge-icon-vector-badges-flat-modern-style-vintage-retro-flat-badges-labels-and-r.jpg);

}
footer{
    color:red;
    text-align: center;
    font-size: 32;
}
span{
    text-align: center;
    color: royalblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
.ase{
    color:rgb(168, 85, 37);
    font-family: initial;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    background-color: blue;
}
img:hover{
    transform: scale(1.1);
}

body{
	position: relative;
	opacity: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container{
display: flex;
flex-wrap: wrap;
justify-content:center;
}