section{
	
	font-family: 'Amiri', serif;
	background-image: url(https://cdn2.iconfinder.com/data/icons/web-design-and-development-47/258/1-512.png);
	background-size: cover;
	width:100%;
	height:70vh;
	color:darkblue;
	font-size: 20px;
	min-height: 60%;
	margin: 0;
	position: fixed;
}
.s1{
	top:40%;
	position:absolute;
	left: 45%;
	transform: translate(-50%,-50%);
	text-align: center;

}
p{
	font-weight: 600;
	color:#eff;
	
}
.s2{
	color: blue;
	color-rendering: blue;
	background-color: #ff7b25;
	border-color:  #ff7b25;
}
.s3{
	color: blue;
	
	color-rendering: blue;
	background-color: #ff7b25;
	border-color:  #ff7b25;
}

.s4{
	color: blue;
	margin-left: 20px;
	color-rendering: blue;
	background-color:#ff7b25;
	border-color:  #ff7b25;
}
#t{
	font-family: 'Poor Story', cursive;
	color: black;
	font-size: 20px;
	line-height: 20px;
}

#A1{
	top:20%;
	color: white;
	text-align:left;
	color: black;
	font-family: 'Old Standard TT', serif;
	word-spacing: 12px;
	line-height: 20px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom:20px; 
	background-color: black;



}
#about{
color: red;
font-family: 'Poor Story', cursive;
}
body{
	color:green;

	background-image: url(https://previews.123rf.com/images/ardely/ardely1808/ardely180800020/105753834-abstract-stained-pattern-texture-rectangle-background-vertical-striped-rainbow-full-color-spectrum-m.jpg);
	min-height: 100%
	margin:-1;
	background-size: cover;

}
.a2{
display: flex;


}
.fa{
	
	transition: all 1s;
	margin-left: 20px;
	margin-right: 20px;
}
.fa:hover{
	transform: scale(2.1);
}
.a2{
	line-height: 20px;
	font-style: fantasy;
}
#Go{
	font-style: fantasy;
	font-size: 30px;

}
.j1,.j{
font-weight: bold;
}
html{
	scroll-behavior: smooth;
}
section,.a2,.A1,body,.o{
	position: relative;
	opacity: 1.00;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}
nav{
	background:#0082e6;
	height: 30vh;
	width: 100%;
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
.C1{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display:inline-block;
	line-height:80px;
	margin: 0 5px;

}
nav ul li a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #1b9bff;
	transition:.5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}
#check{
	display: none;

}
@media(max-width: 952px){
	label.C1{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background:#2c3e50;
		top:80px;
		left:0;
		text-align: center;

	}
	nav ul li{
		display: block;

	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color:#0082e6;
	}
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}